[submodule "src/Enigma.Graphics"]
	path = src/Enigma.Graphics
	url = https://github.com/wings-studio/Enigma.Graphics
[submodule "src/Enigma.Input"]
	path = src/Enigma.Input
	url = https://github.com/wings-studio/Enigma.Input
[submodule "src/Enigma.Engine"]
	path = src/Enigma.Engine
	url = https://github.com/wings-studio/Enigma.Engine
[submodule "src/Enigma.Audio"]
	path = src/Enigma.Audio
	url = https://github.com/wings-studio/Enigma.Audio
